body {
    background-image: url('/static/cms/img/bg.png');
    font-family: Sans-serif;
    font-size: 100%;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

footer {
    min-height: 100px;
}


#container {
    max-width: 1150px;
    width: 96%;
    margin: 0 auto;
    background-repeat: no-repeat;
}

#mainContainer {
    display: block;
    padding: 0 25px;
    overflow: hidden;
    margin-top: 32px;
}

#left {
    display: block;
    overflow: hidden;
}

#right {
    display: block;
    margin-bottom: 45px;
    overflow: hidden;
    position: relative;
}

#container > section {
    min-height: 550px;
}


#postForm label {
    cursor: pointer;
}

#postForm textarea {
    height: 400px;
}

#editLink {
    border-bottom: #cccccc 1px solid;
}

#editLink:hover {
    color: #808080;
}

#deleteLink {
    border-bottom: #cccccc 1px solid;
    color: rgba(105, 36, 40, 0.91);
}

#deleteLink:hover {
    color: rgba(243, 216, 218, 0.91);
}

#footerTextLink a:hover {
    text-decoration: underline;
    color: #333333;
}

#postForm .errorText {
    color: #bf4c4e;
    margin: 0px;
    padding: 0 4px;
    font-size: 0.8em;
}

#messageLayer {
    width: 80%;
    max-width: 700px;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 1.6em;
}


code {
    color: inherit;
}

#coverImage {
    display: inline-block;
    max-height: 280px;
    max-width: 100%;
}

#fixedMessage {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 100;
}

#postForm input, textarea {
    font-family: Inconsolata, monospace;
}

#writingSupporter{
    display: none;
}

@media only screen and (min-width: 1000px) {
    #mainContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    #left {
        flex: 1 1 400px;
        margin-right: 25px;
    }

    #right {
        flex: 0 0 280px;
        margin-bottom: 0px;
    }

    .sticky {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: -48px;
        z-index: 100;
    }

    #writingSupporter{
        display: block;
    }
}

@media only screen and (max-width: 1000px) {
    #mainContainer {
        padding: 0 2.5%;
        margin-top: 2%;
    }
}