#postHtml p:not(:last-child) {
    line-height: 1.5;
    margin-bottom: 0.6em
}

#postHtml h1 {
    font-size: 1.1em;
    margin: 2.5em 0em 1em -0.2em;
    padding: 0.4em 0.6em;
    background-color: #f0f4f7;
    border-left: #73ace6 4px solid;
    font-weight: inherit;
}

#postHtml h2, h3, h4, h5, h6 {
    margin: 1.5em 0 0.6em 0;
    font-size: 1em;
    color: #000080;
}

#postHtml img {
    width: 100%;
}

#relatedPostBox .title {
    font-size: 1.2em;
    margin: 1.5em 0 0.6em 0;
}

#relatedPostBox ul {
    -webkit-padding-start: 1.5em;
}

#postHtml a {
    color: #8c8c8c;
    text-decoration: underline;
    cursor: pointer;
}

#postHtml a:hover {
    color: inherit;
}

#postHtml a:visited {
    color: inherit;
}

#postHtml table {
    width: 100%;
    margin-bottom: 1em
}

#postHtml table tr {

}

#postHtml table th {
    background-color: #f2f2f2;
    border: 1px #cccccc solid;
    padding: 0.3em 0.7em;
}

#postHtml table td, th {
    border: 1px #cccccc solid;
    padding: 0.3em 0.7em;
}

#postHtml blockquote {
    padding: 0 1em;
    color: #808080;
    border-left: 0.25em solid #e6e6e6;
    margin: 0 0 0.6em 0;
    display: block;
}

#postHtml code {
    padding: 0.2em 0.3em;
    background-color: #f2f2f2;
}

#postHtml pre code {
    background-color: inherit;
    color: black;
}

#postDetail #coverImage {
    display: inline-block;
    max-height: 440px;
    max-width: 100%;
}
