<div class="p-3
            {% if '/search/' in request.path %}activeBlock{% endif %}
            ">
    <div class="fontSizeL color-50 fontSerifMW fSize-11 mb-2">Full-text Search</div>
    <form id="searchForm" class="mb-2" method="get" action = "{% url 'cms_search_redirect_url'%} ">
        <div class="input-group">
            <input type="hidden" name="source_page" value="{{ request.path }}">
            <input name="term" type="text" class="form-control" value="{{term}}">
            <div class="input-group-append">
              <div id="searchBtn" class="input-group-text" onclick="document.getElementById('searchForm').submit()">
                <i class="material-icons">search</i>
              </div>
            </div>
        </div>
    </form>
</div>