{% extends 'cms/base_main.html' %}
{% load staticfiles %}

{% block header %}

<meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{site_title}}" />
<meta property="og:description" content="{{site_subtitle}}" />

{% endblock%}

{% block content %}

{% for post in posts %}
<article class="bg-100 p-0 m-0 mb-4">
    {% include 'cms/block_post_header.html' %}
    <p class="p-4 m-0">{{ post.Abstract|striptags }}</p>
    <div class="pl-4 pb-4">
        <a class="cleanA, readmoreA" href="{{ post.DetailUrl }}">read more...</a>
    </div>
</article>
{% empty %}
<div class="text-center fontSerif fontSizeL color-50 bg-100 p-5">
    <p class="fontSerifMW color-30 fSize-12">Sorry, there is no posts so far.</p>
    <p class="fontSerifMW color-50 fSize-09">We are working on it!</p>
    <img src ="{% static 'cms/img/error.jpeg'%}" style="width: 300px">
    <div class="space p-3"></div>
</div>
{% endfor %}

{% include 'cms/block_pagination.html' %}

{% endblock %}

{% block sidebar %}
<div id="sidebar">
    {% include 'cms/plugin_author.html' %}
    <div id="searchBox" class="bg-100 mb-3 overflow-hidden">{% include 'cms/block_search.html' %}</div>
    <div id="collectionBox" class="bg-100 mb-3 overflow-hidden">{% include 'cms/block_collection.html' %}</div>
</div>
{% endblock %}
