{% if plugins_cfg.Author.enable %}
<div id="authorBox" class="bg-100 mb-3 overflow-hidden">
    <div class="px-3 py-4">
        <div class="authorPic bg-10 mx-auto mb-3"
             style="background-image: url({{plugins_cfg.Author.image_url}})">
        </div>
        <div class="fontSerifMW color-30 fSize-12 text-center mb-2">
            <a href="{{plugins_cfg.Author.url}}" class="cleanA titleA">{{plugins_cfg.Author.name}}</a>
        </div>
        <div class="authorDescription">{{plugins_cfg.Author.description}}</div>
    </div>
</div>
{% endif %}