<script> // sticky sideBar
const rightBox = $("#right");
const authorBox = $("#authorBox")

const authorBoxOffset = authorBox.outerHeight()+authorBox.offset().top+5
const windowWidthBreakPoint = 1000;
const stickyRightContentHeight = $("#searchBox").outerHeight()+$("#collectionBox").outerHeight()+20

if(stickyRightContentHeight<window.innerHeight && $(window).width()>windowWidthBreakPoint){
    window.onscroll = function() {fixRight()};
}

function fixRight() {
  if (window.pageYOffset > authorBoxOffset) {
    rightBox.css("top",window.pageYOffset-authorBoxOffset);
  } else {
    rightBox.css("top",0);
  }
}
</script>