<script>
const rightBox = $("#right");
const authorBox = $("#authorBox")

const authorBoxOffset = authorBox.outerHeight()+authorBox.offset().top+5
const windowWidthBreakPoint = 1000;
const extraSpace = 20;
const stickyBoxIds = ["#collectionBox", "#donateBox", "#searchBox"];
const stickyHeight = stickyBoxIds.reduce((total, id) => ($(id).length === 0) ? (total) : (total + $(id).outerHeight() + extraSpace), 0);

if (stickyHeight < window.innerHeight && $(window).width() > windowWidthBreakPoint) {
    window.onscroll = function() {fixRight()};
}

function fixRight() {
  if (window.pageYOffset > authorBoxOffset) {
    rightBox.css("top",window.pageYOffset-authorBoxOffset);
  } else {
    rightBox.css("top",0);
  }
}
</script>